$color-light-dark: rgb(26, 26, 26);
$color-semi-lighter-dark: #212121;
$color-lighter-dark: #424242;
$color-semi-gray: #9e9e9e;
$color-gray: #eeeeee;
$color-green: rgb(80, 166, 87);
$color-light-green: #b9f6ca;
